



/* .container{
    display: flex;
    justify-content: center;
    align-items: center;
} */



/* #videoElement {
	width: 500px;
	height: 375px;
	background-color: #666;
} */

/* .webcam{
    height: 10px;
    width: 100%;
} */


/* body{background:#242424 url('https://unsplash.it/1000/1100/?random')no-repeat center center; height:150vh;
background-size:cover;} */


 /* #overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    cursor: pointer;
  } */

